Repository mne-tools/mne-bids-pipeline: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-lint, ruff-format, tombi-format, tombi-lint, ty, codespell

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruff-lint:
      glob: "*.py"
      exclude: "mne_bids_pipeline/steps/freesurfer/contrib/*.py"
      run: uv run ruff check --fix {staged_files}
    ruff-format:
      glob: "*.py"
      exclude: "mne_bids_pipeline/steps/freesurfer/contrib/*.py"
      run: uv run ruff format {staged_files}
    tombi-format:
      glob: "*.toml"
      run: uv run tombi format {staged_files}
    tombi-lint:
      glob: "*.toml"
      run: uv run tombi lint {staged_files}
    ty:
      glob: "mne_bids_pipeline/**/*.py"
      exclude: "mne_bids_pipeline/steps/freesurfer/contrib/*.py"
      run: uv run ty check {staged_files}
    codespell:
      glob: "*.{py,yaml,yml,md,txt}"
      exclude: "mne_bids_pipeline/steps/freesurfer/contrib/*.py"
      run: uv run codespell {staged_files}

FIX: Target
  .github/workflows/automerge.yml
Due: codespell

Change ET folder from beh to misc
  mne_bids_pipeline/steps/preprocessing/_05b_sync_eyelink.py
Due: ruff-lint, ruff-format, ty, codespell

MAINT: Update lefthook config
  .lefthook.yml
Due: codespell

MAINT: Update lefthook config (#1170)
  .lefthook.yml
Due: codespell

FIX: When
  .github/workflows/autofix.yml
Due: codespell

FIX: More
  .github/workflows/autofix.yml
Due: codespell

FIX: pre-commit
  mne_bids_pipeline/_io.py
  mne_bids_pipeline/steps/sensor/_06_make_cov.py
  mne_bids_pipeline/tests/test_documented.py
Due: ruff-lint, ruff-format, ty, codespell

Update docs/source/dev.md.inc
  docs/source/dev.md.inc
Due: none

ENH: Add cov_rank option (#1159)
  docs/source/dev.md.inc
  mne_bids_pipeline/_config.py
  mne_bids_pipeline/_config_utils.py
  mne_bids_pipeline/_decoding.py
  mne_bids_pipeline/_docs.py
  mne_bids_pipeline/_io.py
  mne_bids_pipeline/steps/sensor/_02_decoding_full_epochs.py
  mne_bids_pipeline/steps/sensor/_03_decoding_time_by_time.py
  mne_bids_pipeline/steps/sensor/_05_decoding_csp.py
  mne_bids_pipeline/steps/sensor/_06_make_cov.py
  mne_bids_pipeline/steps/source/_05_make_inverse.py
  mne_bids_pipeline/tests/configs/config_MNE_funloc_data.py
  mne_bids_pipeline/tests/configs/config_ds000248_base.py
  mne_bids_pipeline/tests/test_documented.py
  mne_bids_pipeline/tests/test_functions.py
Due: ruff-lint, ruff-format, ty, codespell

WIP
  mne_bids_pipeline/_config_utils.py
Due: ruff-lint, ruff-format, codespell

WIP
  .lefthook.yml
  mne_bids_pipeline/_config_utils.py
Due: ruff-lint, ruff-format, codespell

FIX: Name
  mne_bids_pipeline/_config.py
  mne_bids_pipeline/_config_utils.py
  mne_bids_pipeline/_docs.py
  mne_bids_pipeline/_import_data.py
  mne_bids_pipeline/steps/init/_02_find_empty_room.py
  mne_bids_pipeline/steps/preprocessing/_01_data_quality.py
  mne_bids_pipeline/steps/preprocessing/_02_head_pos.py
  mne_bids_pipeline/steps/preprocessing/_03_maxfilter.py
  mne_bids_pipeline/steps/preprocessing/_04_frequency_filter.py
  mne_bids_pipeline/steps/preprocessing/_05_regress_artifact.py
  mne_bids_pipeline/steps/preprocessing/_07_make_epochs.py
  mne_bids_pipeline/steps/preprocessing/_08a_apply_ica.py
  mne_bids_pipeline/steps/preprocessing/_08b_apply_ssp.py
Due: ruff-lint, ruff-format, ty, codespell

FIX: More
  mne_bids_pipeline/tests/test_documented.py
Due: ruff-lint, ruff-format, ty, codespell

ENH: Test
  mne_bids_pipeline/tests/test_run.py
Due: ruff-lint, ruff-format, ty, codespell

DOC: Bug
  docs/source/dev.md.inc
Due: none

DOC: What
  mne_bids_pipeline/tests/test_run.py
Due: ruff-lint, ruff-format, ty, codespell

FIX: Simplify
  mne_bids_pipeline/tests/test_run.py
Due: ruff-lint, ruff-format, ty, codespell

FIX: Runs as well
  mne_bids_pipeline/tests/test_run.py
Due: ruff-lint, ruff-format, ty, codespell

TST: Add test for gh-1140
  mne_bids_pipeline/tests/test_run.py
Due: ruff-lint, ruff-format, ty, codespell

MAINT: Verify sizes on download
  mne_bids_pipeline/_download.py
Due: ruff-lint, ruff-format, codespell

FIX: Better
  mne_bids_pipeline/steps/preprocessing/_02_head_pos.py
Due: ruff-lint, ruff-format, ty, codespell

MAINT: Verify sizes on download (#1179)
  mne_bids_pipeline/_download.py
Due: ruff-lint, ruff-format, codespell

Fix ICA fitting by changing picks to 'data'
  mne_bids_pipeline/steps/preprocessing/_06a1_fit_ica.py
Due: ruff-lint, ruff-format, ty, codespell

Fix ICA fitting by including epochs in fit method
  mne_bids_pipeline/steps/preprocessing/_06a1_fit_ica.py
Due: ruff-lint, ruff-format, ty, codespell

Fix outdated docs in steps-ica in CLI
  mne_bids_pipeline/_main.py
Due: ruff-lint, ruff-format, codespell

Fix outdated docs in steps-ica in CLI (#1180)
  mne_bids_pipeline/_main.py
Due: ruff-lint, ruff-format, codespell

FIX: Bump
  .circleci/config.yml
Due: codespell

TST: Add test for gh-1140 (#1176)
  mne_bids_pipeline/tests/test_run.py
Due: ruff-lint, ruff-format, ty, codespell

FIX: Better pattern
  mne_bids_pipeline/steps/preprocessing/_03_maxfilter.py
Due: ruff-lint, ruff-format, ty, codespell

BEH: Use union of bads when Maxwell filtering (#1158)
  docs/source/dev.md.inc
  mne_bids_pipeline/_config_import.py
  mne_bids_pipeline/_config_utils.py
  mne_bids_pipeline/_import_data.py
  mne_bids_pipeline/steps/preprocessing/_01_data_quality.py
  mne_bids_pipeline/steps/preprocessing/_02_head_pos.py
  mne_bids_pipeline/steps/preprocessing/_03_maxfilter.py
  mne_bids_pipeline/steps/preprocessing/_04_frequency_filter.py
  mne_bids_pipeline/tests/configs/config_ds001971.py
  mne_bids_pipeline/tests/test_validation.py
Due: ruff-lint, ruff-format, ty, codespell

FIX: Cruft
  mne_bids_pipeline/_import_data.py
Due: ruff-lint, ruff-format, codespell

FIX: Dont use clear
  mne_bids_pipeline/steps/preprocessing/_02_head_pos.py
Due: ruff-lint, ruff-format, ty, codespell

Add set_initial_average_reference function to add online ref channel before rereferencing
  mne_bids_pipeline/_config.py
  mne_bids_pipeline/_reference.py
  mne_bids_pipeline/steps/preprocessing/_06a1_fit_ica.py
  mne_bids_pipeline/steps/preprocessing/_06a2_find_ica_artifacts.py
  mne_bids_pipeline/steps/preprocessing/_07_make_epochs.py
  mne_bids_pipeline/steps/preprocessing/_08a_apply_ica.py
Due: ruff-lint, ruff-format, ty, codespell

FIX: Poppin
  mne_bids_pipeline/steps/preprocessing/_02_head_pos.py
Due: ruff-lint, ruff-format, ty, codespell

FIX: Review
  mne_bids_pipeline/_config_utils.py
  mne_bids_pipeline/_run.py
Due: ruff-lint, ruff-format, codespell

fix eyelink compatability
  mne_bids_pipeline/_import_data.py
  mne_bids_pipeline/steps/preprocessing/_08a_apply_ica.py
Due: ruff-lint, ruff-format, ty, codespell
